In [1]:
class raw:
    def __init__(self,num):
        self.num = num
    def getnum(self):
        return self.num
    def add (self,n2):
        return self.num + n2.num
    
    def raisedTo(self,n2):
        return self.num ** n2.num
    
    def concat(self,n2):
        return str(self.num) + str(n2.num)
    
    def max(self,n2):
        return max(self.num,n2.num)
    
    def min(self,n2):
        return min(self.num,n2.num)
   

n1 = raw(7)
n2 = raw(2)
n3 = n1.add(n2)
n4 = n1.raisedTo(n2)
n5 = n1.concat(n2)
n6 = n1.max(n2)
n7 = n1.min(n2)

In [2]:
print(n3)
print(n4)
print(n5)
print(n6)
print(n7)

9
49
72
7
2

In [ ]:
#Q1. wrie a python program to access following data structure lab manual 3

In [5]:
data=[(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]

In [6]:
a = input("Enter the Name :")
for i in data:
    if i[1] == a:
        print(i)

Enter the Name :Jiva
(45667, 'Jiva', 'Jiva@nuv.ac.in')

In [43]:
a = int(input("Enter the ID"))
for i in data:
    if i[0]==a:
        print(i)

Enter the ID12345
(12345, 'Diksha', 'Dikshar@nuv.ac.in')

In [44]:
#Q2. write a python program to access following dictionary

In [2]:
#Mydict = {
    #"Enrollment id": [12345, 45667, 16789, 69433],
    #"Student Name": ["Diksha", "Jiva", "Ronit", "Heena"],
    #"Email ID": ["Dikshar@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in", "Heena@nuv.ac.in"]
#}
#print(f"{entollid:<7}{sname:12}{emailid:25}")

In [12]:
Mydict = {
    "Enrollment id": [12345, 45667, 16789, 69433],
    "Student Name": ["Diksha", "Jiva", "Ronit", "Heena"],
    "Email ID": ["Dikshar@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in", "Heena@nuv.ac.in"]
}
a = int(input("Enrollment ID"))

for i in range (len(Mydict["Enrollment id"])):
    if Mydict["Enrollment id"][i]==a:
        enroll = Mydict["Enrollment id"][i]
        sname = Mydict["Student Name"][i]
        semail= Mydict["Email ID"][i]
print(f"{enroll:<7}{sname:12}{semail:25}")

Enrollment ID12345
12345  Diksha      Dikshar@nuv.ac.in

In [20]:
Mydict = {
    "Enrollment id": [12345, 45667, 16789, 69433],
    "Student Name": ["Diksha", "Jiva", "Ronit", "Heena"],
    "Email ID": ["Dikshar@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in", "Heena@nuv.ac.in"]
}
a = input("enter the value")
for d in Mydict[a]:
    if a in Mydict[a]:
        index = Mydict[d].index(a)
        enrollid = Mydict["Enrollment id "][index]
        sname = Mydict["Student Name"][index]
        email = Mydict["Email ID"]
print(f"{enroll:<7}{sname:12}{semail:25}")

enter the value12345

KeyError: '12345'

In [16]:
#Q3. Write a python program to convert data in nested list structure to dictionary.

In [18]:
#data = [(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
#provide key such as Enrollment id, Student Name, and Email id.Resultant Data

#Mydict = {
    #"Enrollment id": [12345, 45667, 16789, 69433],
    #"Student Name": ["Diksha", "Jiva", "Ronit", "Heena"],
    #"Email ID": ["Dikshar@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in", "Heena@nuv.ac.in"]
#}

In [21]:
data=[(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
Mydict = {"Enrollment ID":[],"Sname":[],"Semail":[]}
for i in data:
    Mydict["Enrollment ID"].append(i[0])
    Mydict["Sname"].append(i[1])
    Mydict["Semail"].append(i[2])
print(Mydict)

{'Enrollment ID': [12345, 45667, 16789, 69433], 'Sname': ['Diksha', 'Jiva', 'Ronit', 'Heena'], 'Semail': ['Dikshar@nuv.ac.in', 'Jiva@nuv.ac.in', 'Ronitd@nuv.ac.in', 'Heena@nuv.ac.in']}

In [ ]:
#Q4. write a menu driven Object Oriented program to store Student details like Enrollment No, Student Name and Contact Number permanently using dictionary data srtucture. Add functions to add, update, delete and display data. Save data permanently in a JSON file.
#HINT: To import json library

#import json 
#To write any object to python
#fw = open("students.json","w")
#jsndata = json.dumps(dictionary of student s details)#dumps and converts dictionary to json
#fw.write(jsndata)
#To read any json object from file
#fr = open("srudents.json","r")
#all students = json.load(fr)#reads whole file and returns the data

In [10]:
import json



a = {
    "name": "tina",
    "rollno": 22000231,
    "cgpa": 6.6,
    "phonenumber": 1223334434
}

#to write a file
f=open("BCAStudents.json","w")
data=json.dumps(a,indent=4)
f.write(data)

#read data from file 
f=open("BCAStudents.json","r")
detail=json.load(f)
print(detail)

{'name': 'tina', 'rollno': 22000231, 'cgpa': 6.6, 'phonenumber': 1223334434}

In [17]:
a = {
    "name": "mina",
    "rollno": 22000239,
    "cgpa": 6.2,
    "phonenumber": 1287794434
}

#to append in the file

f=open("BCAStudents.json","a")
json.dump(a,f,indent=4)
f.write(data)

94

In [ ]:
#Q5. A data file has following data(statid, name, population in crores. No. of Universities)

In [23]:
import pandas as pd
df=pd.read_csv("data.csv")
df

   stateid           name   population in crores   No. of Universities
0    12001        Gujarat                     10                    29
1    12002    Maharashtra                     19                    36
2    12003      Rajasthan                     13                    31
3    12004  MadhyaPradesh                     14                    21
4    12005         Punjab                     12                    13
5    12006      Karnataka                     23                    31
6    12007      Tamilnadu                     25                    29
7     1208         Kerala                     21                     1

In [ ]:
#Q6 A data.csv file has following data(stateid, name, population in crores, No. of Universities)
#____data.csv____
#read data.csv file. Transfer data to data structure like following States=
#{
    #12001:{"name","Gujrat", "population":10,"no_of_uni":20},
    #12002:{"name","Gujrat", "population":19,"no_of_uni":36}
#}

In [1]:
import pandas as pd
ff=pd.read_csv("java2.csv")
ff

   stateid           name   population in crores   No. of Universities
0    12001        Gujarat                     10                    29
1    12002    Maharashtra                     19                    36
2    12003      Rajasthan                     13                    31
3    12004  MadhyaPradesh                     14                    21
4    12005         Punjab                     12                    13
5    12006      Karnataka                     23                    31
6    12007      Tamilnadu                     25                    29
7     1208         Kerala                     21                     1